<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panda Jobs</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="nav-wrapper">

        <main>
          <div class="oops">
            <h4 >Oops! The page you’re looking for doesn’t exist</h4>
            </div>
            <button >
              <a style="text-decoration: none; color: white;" href="index.html">Go back home child</a></button>
        </main>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
